{% extends "base.html" %}

{% block title %}
Login | CarePoint Hospital
{% endblock %}


{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <p class="eyebrow">
            WELCOME BACK
        </p>

        <h1>
            Sign in
        </h1>

        <p class="muted">
            Access your hospital account.
        </p>


        <form method="POST">

            <label>
                Email address
            </label>

            <input
                type="email"
                name="email"
                required
                autocomplete="email"
            >


            <label>
                Password
            </label>

            <input
                type="password"
                name="password"
                required
                autocomplete="current-password"
            >


            <button
                class="btn full"
                type="submit"
            >
                Sign In
            </button>

        </form>


        <p class="form-footer">

            New patient?

            <a href="{{ url_for('register') }}">
                Create an account
            </a>

        </p>


        <div class="demo-box">

            <strong>
                Demo administrator
            </strong>

            <br>

            Email:
            admin@carepoint.test

            <br>

            Password:
            Admin123!

        </div>

    </div>

</div>

{% endblock %}